<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yil fasllari</title>
</head>
<body>
    
    <h1 style="text-align: center;">Fasllar</h1>
    <ul style="list-style: none; display: flex; justify-content: center; align-items: center;">
        {% for post in object_list %}
            <li><h2>{{ post.title }}</h2><br>
                <img src={{post.text}} alt="" style="width: 250px; height: 250px;">
            </li>
        {% endfor %}
    </ul>

</body>
</html>